<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94863646765-i35c5lacvn8ro4gjuu9oksc4g0phk2k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94863646765-i35c5lacvn8ro4gjuu9oksc4g0phk2k9</string>
	<key>API_KEY</key>
	<string>AIzaSyDEzJ5k0aSfs3aAcwmm420xEPcgPyTuWno</string>
	<key>GCM_SENDER_ID</key>
	<string>94863646765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phenomenonTechnologies.FundoVR</string>
	<key>PROJECT_ID</key>
	<string>fundovr-f74ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fundovr-f74ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94863646765:ios:732521c138a5f73a06d8a4</string>
	<key>DATABASE_URL</key>
	<string>https://fundovr-f74ef.firebaseio.com</string>
</dict>
</plist>